{% extends 'base.html' %}

{% block isLastQuestActive %}class="active"{% endblock %}

{% block main %}
    <div class="list-questions">
        {% for question in questions %}
            <div class="panel panel-default single-question" id="question-{{ question.id }}">
                <div class="panel-body">
                    <a href="{% url 'single-question-view'  question.id %}">
                        {{ question.title|truncatewords:10 }}
                    </a>
                    <div>{{ question.text|truncatewords:30 }}</div>
                    <div><a href="{% url 'single-question-view'  question.id %}">answers
                        ({{ question.answer_set.count }})</a></div>

                    <div class="qa-rating">
                        <div class="input-group col-md-2">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm rating-increase" type="button"><span
                                        class="glyphicon glyphicon-thumbs-up"></span></button>
                            </span>
                            <input type="text" class="form-control center-block input-sm rating-value" value="{{ question.rating }}"
                                   readonly style="text-align: center">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm  rating-decrease" type="button"><span
                                        class="glyphicon glyphicon-thumbs-down"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav>
        <ul class="pagination">
            {% for p in paginator.page_range %}
                {% if p == page.number %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
            <a href="{{ paginator.baseurl }}{{ p }}">{{ p }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block scripts-bottom %}
    <script type="text/javascript">
        $(document).ready(function(){
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({

                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });



            $("div.qa-rating button").click(function() {
                var button = $(this).parent().parent().children(".input-group-btn");
                var qa_id = $(this).parents(".single-question").attr("id").split("-")[1];
                var input_rating =$(this).parent().siblings("input.rating-value");

                if ($(this).hasClass("rating-decrease")){
                    increase = -1;
                }
                else{
                    increase = 1;
                }
                $.ajax({
                    url:  '/like/',
                    type: 'POST',
                    data: { qa_id: qa_id, rating_inc: increase },
                }).success(function(data) {
                    console.log(data);
                    if (data.status == 'ok') {
                        if (data.rating){
                            input_rating.val(data.rating);
                            input_rating.parent().addClass("info");
                            button.remove();
                        }
                    }
                    if (data.status == 'error') {
                        alert(data.message)
                        console.log(data);
                    }
                }).error(function() {
                    console.log('http error')
                });
            });
        });
    </script>
{% endblock %}